/* proprietà temporanee: "temp" */



/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* common */
body{
    font-family: 'Montserrat', sans-serif;
    color: #939393;
}

.container{
    width: 80%;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

h2{
    font-weight: 400;
    font-size: 30px;
}

h1{
    font-size: 35px;
}
/* header */
header{
    margin: 20px 0; 
}

.logo{
    width: 170px;
    padding-right: 20px;
    border-right: 1px solid #e5e5e5;
}

.logo img{
    width: 100%;
}

nav{
    padding: 30px 0 10px;
}
nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #939393;
}

nav a:hover{
    color: black;
}

/* main */
/* main > hero */
section.hero{
    height: 500px;
    margin: 20px 0;
    border-radius: 10px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.hero > .overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-title{
    position: absolute;
    bottom: 70px;
    left: 50px;
    width: 60%;;
    color: white;
}

/* main > leadership */
.leadership-title h1{
    color: black;
}

.leadership-row{
    padding: 20px 0;
}

.col-left, .col-center, .col-right{
    float: left;
}

.col-left, .col-right{
    width: 20%;
}

.col-center{
    width: calc(60% - 40px);
    margin: 0 20px;
}

.col-img{
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.col-left .col-img{
    background-image: url(../img/img-1.jpg);
}

.col-center .col-img{
    background-image: url(../img/banner-2.jpg);
}

.col-right .col-img{
    background-image: url(../img/img-3.jpg);
}

.col-img > .overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.col-text h4{
    color: black;
    margin: 10px 0;
    font-weight: 400;
}

/* footer */
footer{
    background-color: peru; /*temp */
    height: 70px; /*temp */
    margin: 10px 0 20px;
}